.signUpContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
}

.signUpWrapper{
    border-radius: 20px;
    width: 50vw;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUpLeftSide{
    flex: 1;
    width: 50%;
    height: 100%;
}

.leftImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signUpRightSide{
    margin: 0;
    flex: 1;
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.signUpRightSide > h2{
    text-align: center;
    font-size: 36px;
    color: #f22a2a;
    margin-top: 2.5rem;
}

.signUpRightSide > .signUpForm{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 2.5rem;
    flex-direction: column;
    gap: 32px;
}

.signUpForm > input{
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    width: 70%;
    padding-left: 0.25rem;
    padding-bottom: 0.25rem;
    transition: 180ms all ease-in-out;
}
.signUpForm .para{
 margin-top: -20px;
 width: 70%;
 text-align: left;
    
}

.signUpForm > input:focus{
    padding-left: 0.75rem;
}

.signUpForm > .submitBtn{
    margin-top: 2.5rem;
    outline: none;
    border: 1px solid transparent;
    padding: 0.5rem 1.5rem;
    background-color: #f22a2a;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.signUpForm > .submitBtn:hover{
    border-color: #f22a2a;
    color: #f22a2a;
    background-color: #fff;
}

.signUpForm > p{
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signUpForm > p >a{
    text-decoration: none;
    font-size: 17px;
    color: #888;
    margin-top: 0.25rem;
}

.errorMessage{
    height: 70px;
    width: 250px;
    text-align: center;
    border-radius: 20px;
    line-height: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #f00;
    color: #fff;
    position: absolute;
    top: 5rem;
    right: 5rem;
}

/* Media Query for max-width 800px */
@media (max-width: 800px) {
    .signUpWrapper {
        width: 80vw;
        height: auto;
        flex-direction: column;
    }

    .signUpLeftSide {
        width: 100%;
        height: 50%;
    }

    .signUpRightSide {
        width: 100%;
        height: 50%;
    }

    .signUpForm {
        margin-top: 2rem;
        width: 90%;
    }

    .signUpForm > input {
        width: 90%;
        font-size: 16px;
    }

    .signUpForm > .submitBtn {
        font-size: 18px;
        padding: 0.5rem 1rem;
    }
}

/* Media Query for max-width 500px */
@media (max-width: 500px) {
    .signUpWrapper {
        width: 80vw;
        
        flex-direction: column;
        margin-top: 10vh;
        padding-bottom: 10px;

    }

    .signUpLeftSide img{
        height: 200px;
        width: 100%;

    }
   
    .signUpRightSide {
        width: 100%;
        height: auto;
    }

    .signUpForm {
        margin-top: 1rem;
        width: 100%;
    }

    .signUpForm > input {
     
        font-size: 14px;
        margin-top: -4px;
        padding: 0 4px ;
    }

    .signUpForm > .submitBtn {
        font-size: 16px;
        padding: 0.5rem 1rem;
        margin-top: 10px;
    }

    .signUpRightSide > h2 {
        font-size: 24px;
        margin-top: 1.5rem;
    }
    .signUpForm .para{
    
        width: 90%;
        text-align: start;
    }

    .errorMessage {
        top: 2rem;
        right: 2rem;
        width: 200px;
        font-size: 14px;
    }
}
